body{
    margin: 70px;
    padding: 40px;
    background-color: bisque;
}

#main-header{
    text-align: center;
    margin:2em;
}
#main-header::first-letter{
    font-size: 3em;
}
#main-header{
    border: 2px solid gold;
    box-shadow: 2px 2px 8px 2px gold;
    border-radius: 20px;
}
.div_class{
    text-align: center;
    background-color: gold;
    margin-bottom: 25%;
}
#img_div_one{
    padding-right: 50px;
    float: left;
}
#img_div_two{
    padding-left: 50px;
    float: right;

}
#img_div_three{
    cursor: pointer;
    padding-right: 50px;
    float: left;
}
#img_div_four{
    padding-right: 50px;
    float: left;
}
a:visited{
    color: black;
}
a:hover{
    color:red;
}
#footer{
    border-top: 3px solid black;
    margin-top: 10px;
}
#form{
    align-items: center;
}
form{
    width: fit-content;
    font-size: xx-large;
    text-align: left;
    border: 2px solid black;
    margin-top: 40%;
    margin-bottom: 25%;
}
.label{
    display: inline-block;
    width: 300px;
    text-align: right;

}
h1{
    background-color: aqua;
}
.b1{
    background-color: aqua;
    border-radius: 10px;
}
.b2{
    background-color: gold;
    border-radius: 10px;
}


.links{
    cursor: pointer;
    margin-left: 75%;
    display: inline-block;   
}
button:hover{
    color: aliceblue;
}
img{
    cursor: pointer;
    transition-duration: 500ms;
}
img:hover{
    transform: scale(1.5);
    
}
.links_div_two{
    margin-bottom: 50%
}

ul{
    left:;
    text-align: left;
 }

table, th, tr, td{

    border: 2px solid black;
    border-collapse: collapse;
    margin-left: 25%;
}
tr:nth-child(odd){
    background-color: aqua;
}

.div_one_pagetwo{
    background-color: gold;
}

.div_one_pagethree{

}
